images/Standard-unix-filesystem-hierarchy.svg
images/Unix_history-simple.svg
images/arborescence_linux_cdm.png
images/*.jpg
images/*.svg
images/exemple_htop.png
images/greenIT.png
images/intranet.png
images/printer_couleur.png
images/printer_nb.png
images/ps_image.png
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
